@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

:root{
    --Soft_red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark_brown: hsl(25, 47%, 15%);
    --Medium_brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very_pale_orange: hsl(33, 100%, 98%);
}

body{
    background-color: var(--Cream);
    width: 100Vw;
    height: 100vh;
    position: relative;
}

div#first{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--Very_pale_orange);
    height: 60%;
    width: 35%;
    border-radius: 15px;
    padding: 15px;
    color: var(--Dark_brown);
}

div#second{
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--Soft_red);
    height: 10%;
    width: 35%;
    border-radius: 15px;
    padding: 15px;
    color: var(--Very_pale_orange);
}

img{
    position: absolute;
    top: 30%;
    left: 80%;
}