@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500
}

:root{
    --Soft_red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark_brown: hsl(25, 47%, 15%);
    --Medium_brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very_pale_orange: hsl(33, 100%, 98%);
}

body{
    background-color: var(--Cream);
    width: 100Vw;
    height: 100vh;
    position: relative;
}

div#first{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--Very_pale_orange);
    height: 60%;
    width: 35%;
    border-radius: 15px;
    padding: 15px;
    color: var(--Dark_brown);
}

div#total-month{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 88%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.bars > div{
    background-color: var(--Soft_red);
    height: 200px;
    width: 40px;
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bar01{
    left: 20%;
}

#bar02{
    left: 30%;
}

#bar03{
    left: 40%;
}

#bar04{
    left: 50%;
}

#bar05{
    left: 60%;
}

#bar06{
    left: 70%;
}

#bar07{
    left: 80%;
}

.day{
    font-size: 10px;
    font-weight: 400;

    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.day#day01{
    left: 20%;
}

.day#day02{
    left: 30%;
}

.day#day03{
    left: 40%;
}

.day#day04{
    left: 50%;
}

.day#day05{
    left: 60%;
}

.day#day06{
    left: 70%;
}

.day#day07{
    left: 80%;
}

div#last-month{
    margin: 0;
    padding: 0;
    width: 130px;
    text-align: right;
    position: absolute;
    top: 88%;
    left: 84%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

div#second{
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--Soft_red);
    height: 10%;
    width: 35%;
    border-radius: 15px;
    padding: 15px;
    color: var(--Very_pale_orange);
}

div#second > p{
    margin-left: 15px;
}

.small{
    font-weight: 400;
    font-size: 15px;
}

img{
    position: absolute;
    top: 30%;
    left: 80%;
}